<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Features</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<header>
    <h1>Feature</h1>
</header>
<body>
    <div class="feature-container">
        <main>
            <section>
                <h2>What We Offer</h2>
                <ul>
                    <li>Detailed Disease Information</li>
                    <li>Search by Plant and Disease</li>
                    <li>Symptoms and Causes</li>
                    <li>Preventive Measures and Treatments</li>
                    <li>User Authentication for Personalized Experience</li>
                    <br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br>
                    
                </ul>
            </section>
        </main>
        <footer>
            <p>&copy; 2025 Plant Disease Information Project. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>